nav#bottom-menu.navbar.navbar-default.navbar-fixed-bottom
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
    #bs-example-navbar-collapse-2.collapse.navbar-collapse
      // Player
      .row
        .col-sr-1.col-xs-1
          #play_MIDI.btn.btn-info.btn-block
            span.glyphicon.glyphicon-play
        .col-sr-6.col-xs-8
          progress#midi_progress.progress.hidden.progress-info(max='100', value='0', style='width: 100%;') 
          input#play_slider.progress(type='range', min='0', max='100', value='0') 
        .col-sr-3.col-xs-2
          a.pager
            span#currentTime 0
            | /
            span#endTime 0
    // /.navbar-collapse